@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
	background-color: #e2e2e2;
	font-family: 'Raleway', sans-serif;
}

h3 {
  margin-top: 0;
}

.navbar {
	height: 70px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	text-align: center;
}

.navbar-nav {
	background: #FCFCFC;
}

.navbar:hover {
	color: #7F8C8D;
}

.navbar-default .navbar-nav>li>a {
	padding-top: 27px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: rgba(255, 248, 248, 0);
}

.section-title {
	margin-bottom: 48px;
	text-transform: uppercase;
}

/* ####### top Start */
#top {
	background-image: url('../img/background/trigoteste2.jpg');
	background-repeat: no-repeat;
	background-position: 0 0;
  background-size: cover;
}

.container.top {
	padding-top: 120px;
}
 
.top-title {
	font-family: 'Open Sans', sans-serif;
	color: #333;
	border-top: 1px solid;
	border-bottom: 1px solid;
	display: inline-block;
  margin-top: 0;
  padding: 8px 0;
}
/* ####### top End */

.colum-title {
  margin-top: 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #33333F;
  margin-bottom: 15px;
  position: relative;
}

.fonte-branca {
	color: #fff;
}

.icone {
	font-size: 62px;
	padding-left: 30px;
	float: left;
  padding-right: 20px;
}

footer {
	background: #181A1C;
	color: #ffffff;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 10px;
}

/* start social icon */
.social-icon
{
  position: relative;
  padding: 0;
  margin: 0;
}
.social-icon li
{
  display: inline-block;
  list-style: none;
}
.social-icon li a
{
  color: #666;
  font-size: 13px;
  text-decoration: none;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.social-icon li a:hover
{
  background: #ffa400;
  color: #ffffff;
}
/* end social icon */

hr {
	border: 1px solid #ffa400;
  	width: 100px;
}

.fonte-ribbon {
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
}

.endereco p{
	margin-bottom: 0;
	font-family: 'Open Sans', sans-serif;
}

.quadro {
	background-color: gray;
}

.icones-servicos {
  border: 2px solid #FFA400;
  border-radius: 50%;
  color: #00733E;
  font-size: 30px;
  margin-right: 24px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  vertical-align: middle;
  transition: all 0.4s ease-in;  
}

h3 {
  color: #ffffff;
  font-weight: bold;
}

#services{
  background-color: #FBFBFB;
}

.icon-service {
  padding-top: 30px;
}

.services .overlay{
  background: rgba(0, 8, 5, 0.85);
}

.titulo-servicos{
  color: #333;
}

.ajuste-servicos{
  padding-bottom: 20px;
}

#parceiros {
  background-image: url('../img/parceiros/parceiros-bg.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

#parceiros p {
  color: #fff;
  padding-bottom: 20px;
}

#parceiros h2 {
  color: #fff;
  padding-bottom: 30px;
}

.board-parcerios {
  /*width: 945px;*/
  text-align: center;
  background: rgba(34, 34, 34, 0.8);
}

.padding-large {
  padding-top: 90px;
  padding-bottom: 90px
}

.paddin-top {
  padding-top: 90px;
}

@media screen and (max-width:480px) { 
  footer {
    padding-bottom: 90px;
  }

}

#mkt {
  background-image: url('../img/background/mkt.jpg');
  background-attachment: fixed;
  background-size: cover;
}

.form-input {
  height: 60px;
}

.form-mkt {
  text-align: center;
  max-width: 550px;
  margin: 0 auto 20px;
  height: 60px;
  margin-top: 13px;
  position: relative;
}

.mkt-bt {
  width: 90px;
  height: 60px;
  border-left: 1px solid #fff;
  position: absolute;
  top: 0;
  font-size: 25px;
  border-radius: 0px !important;
  right: 0;
}

.mkt-bt:hover {
  background-color: #ffe400;
}